#header p {
    color: grey;
    padding: 5px 20px;
    background-color: rgb(240 237 237);
    margin-bottom: 0;
}

p i {
    font-size: 20px;
    padding: 5px;
}

#branding{
  display: flex;
  justify-content: space-around;
  margin: 0;
}

#mainnavbar {
  background-color: rgb(0, 119, 255);
  color: aliceblue;
}

#brand {
  color: white;
}

/* navigation bar */

#navigation {
  background-color: gainsboro;
  width: 100%;
  height: 5vh;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#navigation::-webkit-scrollbar {
  display: none;
}

#navigation ul{
  display: flex;
  list-style: none;
  width: 50%;
  min-width: 541px;
}

#navigation ul li {
  padding: 5px 15px;
}

#navigation ul li:hover {
  background-color: rgb(161, 159, 159);
}

#navigation ul li a {
  text-decoration: none;
  color: black;
}

#body-flex {
  display: flex;
}

#main-body {
  display: flex;
}